{{ define "title" }}
  {{ .Title }} | {{ if isset .Site.Params "seotitle" }}{{ .Site.Params.seotitle }}{{ else }}{{ .Site.Title }}{{ end }}
{{ end }}

{{ define "main" }}
    {{ partial "header.html" . }}
    <!-- Main -->
    <section class="main talk-detail post-detail">
        <header class="post-header">
            <h1 class="post-title">{{ .Title }}</h1>
        </header>
        <div class="description">
            {{ .Description | markdownify }}
        </div>
        <div class="assets">
            {{ if isset .Params "slides" }}
            <a href={{ .Params.slides }}>Slides</a>{{if isset .Params "video"}},{{end}}
            {{ end }}
            {{ if isset .Params "video" }}
            <a href={{ .Params.video }}>Video</a>
            {{ end }}
            {{ if isset .Params "cover" }}
            <div class="cover">
                <img class="cover" src="{{ .Params.cover }}" alt="{{ .Title }}" lazyload="on">
            </div>
            {{ end }}
        </div>
        <article class="post-content">
            {{ .Content }}
        </article>
    </section>
    {{ partial "footer.html" . }}
{{ end }}
